@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,600i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Allerta+Stencil&display=swap");
@import url("https://fonts.googleapis.com/css?family=Marmelad&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #525252;
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #eeeeee;
  scroll-behavior: smooth;
}

.wrapper {
  height: auto;
  background-color: #fff;
  margin: 0 150px;
}

.logo {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 70px 0 50px 0;
  letter-spacing: 1px;
  word-spacing: 6px;
  font-family: 'Allerta Stencil';
  font-family: 'Marmelad';
}

nav {
  text-align: center;
}

nav a {
  text-decoration: none;
  text-transform: lowercase;
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: bolder;
  margin: 0 20px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

nav a:hover {
  color: orangered;
}

.intro {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro .intro-left {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro .intro-left img {
  height: 400px;
  width: 400px;
}

.intro .intro-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro .intro-right h1 {
  font-size: 60px;
}

.intro .intro-right p {
  margin-bottom: 60px;
  font-style: italic;
  font-size: 11px;
}

.intro .intro-right .tags {
  border-radius: 15px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.intro .intro-right .tags .tagNames {
  margin-right: 15px;
  background-color: #575988;
  padding: 10px 18px;
  border-radius: 6px;
  font-size: 12px;
  color: #eeeeee;
}

.intro .intro-right .download-cv {
  margin-top: 60px;
  text-transform: lowercase;
  font-size: 14px;
  font-weight: bolder;
}

.intro .intro-right .download-cv span {
  border-bottom: 3px solid #575988;
}

.content-wrapper {
  height: 100vh;
  padding: 70px 0;
}

.content-wrapper h1 {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
}

.content-wrapper h1 span {
  border-bottom: 3px solid #575988;
}

.content-wrapper h1 .up-level {
  margin-left: 10px;
}

.projects {
  background-color: #e5e5e5;
}

.blog {
  background-color: #fffafa;
  height: auto;
}

.blog .blog-inner-wrapper {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 70px;
}

.blog .blog-inner-wrapper .blog-post {
  height: 450px;
  -webkit-box-shadow: 5px 6px 16px #525252;
          box-shadow: 5px 6px 16px #525252;
  padding: 15px;
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 13px;
  cursor: pointer;
}

.blog .blog-inner-wrapper .blog-post img {
  width: 100%;
  height: 60%;
  margin-bottom: 10px;
  border-bottom: 2px solid #575988;
  padding-bottom: 10px;
}

.blog .blog-inner-wrapper .blog-post h5 {
  margin: 10px 0;
}

.blog .blog-inner-wrapper .blog-post a {
  margin: 10px 0;
}

.contact {
  height: 80vh;
  background-color: #f7f7f7;
}

footer {
  margin-top: 40px;
  padding: 20px;
  text-align: center;
  line-height: 25px;
  font-size: 15px;
}

footer .heart {
  color: orangered;
  font-size: 25px;
}

footer #last-update {
  font-size: 12px;
  font-weight: bold;
}

footer .to-top-footer {
  text-decoration: none;
}

@media (max-width: 1200px) {
  .wrapper {
    margin: 0 70px;
  }
  .intro {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px;
  }
  .intro .intro-right {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .intro .intro-right p {
    margin-bottom: 30px;
  }
}

@media (max-width: 700px) {
  .wrapper {
    margin: 0;
  }
  .intro {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px;
  }
  .intro .intro-left img {
    height: 250px;
    width: 250px;
  }
  .intro .intro-right {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .intro .intro-right p {
    margin-bottom: 30px;
  }
  .intro .intro-right .tags {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .intro .intro-right .tags .tagNames {
    margin-right: 0;
    margin: 5px;
  }
  .blog .blog-inner-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .blog .blog-inner-wrapper .blog-post {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */
