@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css?family=Marmelad&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	color: #525252;
}

html,
body {
	width: 100%;
	height: 100%;
	position: relative;
    background-color: #eeeeee;
    scroll-behavior: smooth;
}

.wrapper {
	height: auto;
	background-color: #fff;
	margin: 0 150px;
}

.logo {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	padding: 70px 0 50px 0;
	letter-spacing: 1px;
	word-spacing: 6px;
	font-family: 'Allerta Stencil';
	font-family: 'Marmelad';
}

nav {
	text-align: center;
	a {
		text-decoration: none;
		text-transform: lowercase;
		font-size: 10px;
		letter-spacing: 2px;
		font-weight: bolder;
        margin: 0 20px;
        transition: 0.5s ease;
        &:hover {
            color: orangered;
        }
	}
}

.intro {
	height: 80vh;
	display: flex;
	align-items: center;
	.intro-left {
		height: 100%;
		width: 50%;
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			height: 400px;
			width: 400px;
		}
	}

	.intro-right {
		display: flex;
		flex-direction: column;
		justify-content: center;
		h1 {
			font-size: 60px;
		}
		p {
			margin-bottom: 60px;
			font-style: italic;
			font-size: 11px;
		}
		.tags {
			border-radius: 15px;
			margin-bottom: 30px;
			display: flex;
			flex-wrap: wrap;
			.tagNames {
				margin-right: 15px;
				background-color: #575988;
				padding: 10px 18px;
				border-radius: 6px;
				font-size: 12px;
				color: #eeeeee;
			}
		}
		.download-cv {
			margin-top: 60px;
			text-transform: lowercase;
			font-size: 14px;
			font-weight: bolder;
			span {
				border-bottom: 3px solid #575988;
			}
		}
	}
}

.content-wrapper {
	height: 100vh;
	padding: 70px 0;
	h1 {
		text-align: center;
		font-size: 14px;
        text-transform: uppercase;
        span {
		border-bottom: 3px solid #575988;
        }
        .up-level {
            margin-left: 10px;
        }
	}
	
}

.projects {
	background-color: #e5e5e5;
}

.contact {
	background-color: #fff;
}

footer {
	margin-top: 40px;
	padding: 20px;
	text-align: center;
	line-height: 25px;
	font-size: 15px;

	.heart {
		color: orangered;
		font-size: 25px;
	}

	#last-update {
		font-size: 12px;
		font-weight: bold;
	}
}

// Media Queries

@media (max-width: 1200px) {
    .wrapper {
        margin: 0 70px;
    }
    .intro {
		height: 100%;
		flex-direction: column;
        padding: 30px;
        .intro-right {
            align-items: center;
            p {
                margin-bottom: 30px;
            }
        }
    }
    
}
@media (max-width: 700px) {
	.wrapper {
		margin: 0;
	}
	.intro {
		height: 100%;
		flex-direction: column;
        padding: 30px;
        
        .intro-left{
            img{
                height: 250px;
                width: 250px;
            }
        }

		.intro-right {
            align-items: center;
            p {
                margin-bottom: 30px;
            }
			.tags {
				justify-content: center;
				.tagNames {
					margin-right: 0;
					margin: 5px;
				}
			}
		}
	}
}
