@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600i&display=swap');
* {
	box-sizing: border-box;
	padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #525252;
}

html,
body {
	width: 100%;
    height: 100%;
    position: relative;
}

.menu-mobile {
        position: fixed;
        width: 100%;
        height: 40vh;
        background-color: #f1f1f1;
        z-index: 999;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: -100%;
        transition: 0.5s ease;

        .close-drop-menu {
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;
        }
        a {
            text-decoration: none;
            font-size: 30px;
            font-weight: bolder;
            text-transform: uppercase;
            margin: 15px 0;
            font-family: 'Playfair Display';
            transition: 0.5s ease;
            &:hover {
            color: orangered;
            }
        }
        
    }

.wrapper {
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

header {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #eeeeee;
	color: #525252;
    position: relative;
    
	.burger-menu-icon {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 99;
        text-align: right;
        padding: 20px;
        cursor: pointer;
        transition: 0.5s ease;
        display: flex;
        align-items: center;
        justify-content: space-between;
        #myName {
            color: #ffffff;
            letter-spacing: 2px;
            display: none;
            margin-left: 10px;
        }
        i {
            color: #f1f1f1;
        }
        
    }

	.avatar {
		position: absolute;
        top: -150px;
        height: 600px;
    }
    
	.header-content {
		margin-top: 450px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		h1 {
			text-align: center;
			font-family: 'Playfair Display';
			font-size: 70px;
		}
		p {
			font-weight: 600;
		}
		.skills-tag {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin-top: 20px;
			padding: 0 20px;
			.skill-set {
				margin: 10px;
				display: inline-block;
				background-color: #f1f1f1;
				box-shadow: 6px 6px 12px #525252;
				padding: 10px;
				border-radius: 5px;
				text-align: center;
				font-weight: bolder;
			}
		}
    }
    .download-cv {
            margin: 30px;
            display: inline-block;
            cursor: pointer;
            text-decoration: none;
        }

}

.projects {
    padding-top: 40px;
    height: 100vh;
    h1 {
		text-align: center;
		font-family: 'Playfair Display';
		font-size: 40px;
	}
}

.freelance {
    background-color: #536DFE;
    padding: 90px 0;
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 21px;
    
    p {
        margin: 15px 0;
        width: 100% !important;
        color: #f1f1f1;
    }
    i {
        color: lightseagreen;
    }
}

.contact-us {
    height: 100vh;
    padding-top: 40px;
    
    .reach-out-image {
        height: 500px;
        width: 500px;
        margin: 0 18%;
        display: inline-block;
    }
	h1 {
		text-align: center;
		font-family: 'Playfair Display';
		font-size: 40px;
    }
    
    .contact-details {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    div {
        width: 80%;
        margin-bottom: 20px;
        .label-name {
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 900;
            margin: 8px 0;
            letter-spacing: 1px;
        }
    }
    .social {
        ul {
            list-style-type: none;
            li {
                display: inline;
                a{
                    margin-right: 10px;
                    text-decoration: none;
                    color: #525252;
                }
            }
        }
    }
}

footer{
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    line-height: 25px;
    font-size: 15px;
    .heart {
        color: orangered;
        font-size: 25px;
    }
    #last-update {
        font-size: 12px;
        font-weight: bold;
    }
}
